/*---------------*/
/* Style du site */
/*---------------*/

html{
    background:#87CEFA;	
	
}
body {
    font-family:Georgia;  
    background-color:white;
    margin:5% 8% 5% 8%;
    padding:8% 8% 8% 8%;
    border:2px solid #000000;
    height:1500px;
    width: 1000px;
    }
#recherche{
    /*position:absolute; left:20%;*/
	margin-left:10%;
}
#connexion{

	margin-left:10%;
}
#panier{

	margin-left:10%;
}
/*Mise en forme des images*/
.left{
	float: left;
	width: 50%;
	height: 300px;
	background-color: red;
	margin-bottom:1%;
}
.right{
	background-color: orange;
	margin-left: 310px;
	height: 300px;
	margin-bottom:1%;
}
#image1{
	background-color: pink;
	float:up;
	width: 100%;
	height: 300px;
	margin-bottom:1%;
}



/*
form {
	background-color: #F3F0ED;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	background-color: #f6fbfc;
	text-decoration: underline;
}

.saisie {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 200px;
}

.boite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	display: none;
	width: 198px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F9DB9;
	margin-top: 1px;
	padding: 2px;
}
*/