<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Développement d'application internet</display-name>
    <servlet>
        <servlet-name>ServletAuteur</servlet-name>
        <servlet-class>miage.tpajax.action.ServletAuteur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCitation</servlet-name>
        <servlet-class>miage.tpajax.action.ServletCitation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEncode</servlet-name>
        <servlet-class>miage.tpajax.action.ServletEncode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auteurs</servlet-name>
        <jsp-file>/ajax/AuteursDeCitations.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAuteur</servlet-name>
        <url-pattern>/ServletAuteur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCitation</servlet-name>
        <url-pattern>/ServletCitation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEncode</servlet-name>
        <url-pattern>/ServletEncode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auteurs</servlet-name>
        <url-pattern>/Auteurs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ajax/AuteursDeCitations.html</welcome-file>
    </welcome-file-list>
</web-app>
